body{
    background-color: rgb(30, 30, 36);
    margin: 0px;
}
.head{
    background-color:  rgb(50, 50, 53);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}
.left{
    width: 220px;
    border-right: 2px solid #fff;
}
hr{
    width: 220px;
    height: 1px;
    background-color: #fff;
}
.title{
    font-size: 30px;
    padding-top: 10px;
    color: #fff;
    padding-left: 20px;
}
.weakdays{
    padding-bottom: 20px;
}
.day_1,.day_2,.day_3,.day_4,.day_5,.day_6,.day_7 {
    color:#fff;
    margin-left: 20px;
    font-size: 20px;
    padding-left:5px;
    margin-bottom: 10px;
    width: 150px;
    background-color: rgb(50, 50, 53);
    list-style-type: none;
    border: 2px solid #fff;
    height: 30px;
    transition: all ease 0.5s;
}
.day_1.active , .day_2.active , .day_3.active , .day_4.active , .day_5.active , .day_6.active , .day_7.active {
    background-color: #fff;
    color: rgb(50, 50, 53);
    margin-left: 30px;
}

.container{
    display: flex;
}
.todo_list{
    margin-top: 20px;
    margin-left: 20px
}
input[type=text] {
    width: 260px;
    padding: 10px; }
.add {
    background-color: rgb(50, 50, 53);
    border: 2px solid white;
    color: white;
    margin-top: 10px;
    width: 284px;
    padding: 10px;
    cursor: pointer; }
.add:hover{
    background-color: #fff;
    color:rgb(50, 50, 53);
}
.create_new_todo{
    display: flex;
    flex-direction: column;
}
.wrapper_1,.wrapper_2,.wrapper_3,.wrapper_4,.wrapper_5,.wrapper_6,.wrapper_7{
    width: 282px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(50, 50, 53);
    transform: translateX(600px);
    opacity: 0;
    transition: all ease 0.5s;   
    align-items: center;
}
.txt{
    color: #fff;
    margin-left: 10px;
}
.wrapper_1{
    position: absolute;
    z-index: 2;
    top: 220px;;;
}
.wrapper_2{
    position: absolute;
    z-index: 3;
    top: 220px;;;
}
.wrapper_3{
    position: absolute;
    z-index: 4;
    top: 220px;;;
}
.wrapper_4{
    position: absolute;
    z-index: 5;
    top: 220px;;;
}
.wrapper_5{
    position: absolute;
    z-index: 6;
    top: 220px;;;
}
.wrapper_6{
    position: absolute;
    z-index: 7;
    top: 220px;;;
}
.wrapper_7{
    position: absolute;
    z-index: 8;
    top: 220px;;;
}
.wrapper_1.active,.wrapper_2.active,.wrapper_3.active,.wrapper_4.active,.wrapper_5.active,.wrapper_6.active,.wrapper_7.active{
    transform: translateX(20px);
    opacity: 100;
}
.todo_item p{
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
}
.line{
    width: 270px;
    height: 1px;
    background-color: #fff;
}
input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.todo_item button{
    background-color: red;
    color: #fff;
    border: 2px solid #fff;
    transform: translateY(-5px);
    margin-left: 15px;
}

@media(max-width: 1024px){
    .head{
        width: 90%;
    }
}
@media(max-width: 769px){
    .left{
        width: 40%;
        border-right: 2px solid #fff;
    }
}